@page "{id:int}"
@model Franchise.Razor.WebApp.HuyLT.Pages.FranchiseStore.DetailsModel

<h1>Franchise Store Details</h1>

@if (Model.Item != null)
{
    <dl class="row">
        <dt class="col-sm-2">StoreId</dt><dd class="col-sm-10">@Model.Item.StoreId</dd>
        <dt class="col-sm-2">StoreName</dt><dd class="col-sm-10">@Model.Item.StoreName</dd>
        <dt class="col-sm-2">Address</dt><dd class="col-sm-10">@Model.Item.Address</dd>
        <dt class="col-sm-2">OwnerName</dt><dd class="col-sm-10">@Model.Item.OwnerName</dd>
        <dt class="col-sm-2">PhoneNumber</dt><dd class="col-sm-10">@Model.Item.PhoneNumber</dd>
        <dt class="col-sm-2">Email</dt><dd class="col-sm-10">@Model.Item.Email</dd>
        <dt class="col-sm-2">OpeningDate</dt><dd class="col-sm-10">@Model.Item.OpeningDate</dd>
        <dt class="col-sm-2">ContractStatus</dt><dd class="col-sm-10">@Model.Item.ContractStatus</dd>
    </dl>
    <a asp-page="./Index" class="btn btn-secondary">Back</a>
}
else
{
    <p>Store not found.</p>
    <a asp-page="./Index">Back</a>
}