@page
@model Franchise.Razor.WebApp.HuyLT.Pages.FranchiseStore.IndexModel

<h1>Franchise Store List</h1>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>StoreId</th>
            <th>StoreName</th>
            <th>Address</th>
            <th>OwnerName</th>
            <th>PhoneNumber</th>
            <th>Email</th>
            <th>OpeningDate</th>
            <th>ContractStatus</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Items)
    {
        <tr>
            <td>@item.StoreId</td>
            <td>@item.StoreName</td>
            <td>@item.Address</td>
            <td>@item.OwnerName</td>
            <td>@item.PhoneNumber</td>
            <td>@item.Email</td>
            <td>@item.OpeningDate</td>
            <td>@item.ContractStatus</td>
            <td>
                <a asp-page="./Details" asp-route-id="@item.StoreId" class="btn btn-info btn-sm">Details</a>
                <a asp-page="./Edit" asp-route-id="@item.StoreId" class="btn btn-warning btn-sm">Edit</a>
                <a asp-page="./Delete" asp-route-id="@item.StoreId" class="btn btn-danger btn-sm">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>
<a asp-page="./Create" class="btn btn-primary">Create Store</a>